.rectangle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; 
  height: 300px; 
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 0 5px; 
  border: 1px solid #ccc; 
  border-radius: 10px;
}

.rectangle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}