.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;

  .top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #213820;
    padding: 0 20px;

    app-dropdown {
      display: none;
    }

    .itens {
      .square {
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;

    img {
      width: 303px;
      height: 144px;
    }

    ul {
      display: flex;
      gap: 50px;

      li {
        display: flex;
        cursor: pointer;
        font-family: Roboto Slab, sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-align: center;
        vertical-align: middle;
        color: #c76515;
      }
    }

    button {
      width: 133px;
      height: 49px;
      background-color: #213820;
      color: #fff;
      border: none;
      border-radius: 5px;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Roboto Slab;
      font-weight: 900;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: #1a2b1c;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  .container-one {
    background: linear-gradient(180deg, #ffffff 0%, #93ac5a 38%, #426b53 100%);
    width: 100%;
    height: auto;

    .foto {
      width: 100%;
      height: auto;
      margin-top: 149px;
    }

    .onda {
      width: 100%;
    }

    .containertext {
      width: 100%;
      height: 280px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 80px;
      padding-top: 250px;

      .text {
        width: auto;
        height: 259.88px;
        align-items: center;
        display: flex;

        h1 {
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 79px;
          line-height: 104px;
          letter-spacing: 1.25px;
          vertical-align: middle;
          text-transform: uppercase;
          color: #15b251;
        }
      }

      h1 {
        width: 623px;
        height: 146.76px;
        font-family: Roboto Slab, sans-serif;
        font-weight: 800;
        font-size: 28px;
        line-height: 45px;
        letter-spacing: 1.25px;
        vertical-align: middle;
        color: #535353;
      }
    }

    .project {
      display: flex;
      justify-content: space-between;
      padding: 0px 150px;
      gap: 30px;

      .pr {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 45px;
        letter-spacing: 1.25px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: #eeda66;
      }

      .text-project {
        width: 100%;
        max-width: 947px;
        height: 360px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        h1 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 30px;
          line-height: 45px;
          letter-spacing: 1.25px;
          text-align: justify;
          vertical-align: middle;
          color: #eeda66;
        }
      }
    }
  }

  .container-two {
    width: 100%;
    height: 450px;
    background-color: #94cbc8;
    display: flex;
    justify-content: center;

    .square-content {
      width: 450px;
      background-color: #e7914b;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background-color: #2e77ff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 1.25px;
          text-align: center;
          vertical-align: middle;
          text-transform: uppercase;
          color: #caffa9;
        }
      }

      span {
        width: 100%;
        max-width: 360px;
        position: absolute;
        bottom: 0;
        font-family: Roboto Slab, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1.25px;
        text-align: right;
        vertical-align: middle;
        color: #446c53;
      }
    }

    .square-content-two {
      background-color: #d9d9d9;
      width: 450px;

      .circle {
        width: 100%;
        height: 100%;
        background-color: #426b53;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 1.25px;
          text-align: center;
          vertical-align: middle;
          text-transform: uppercase;
          color: #caffa9;
        }
      }
    }
  }

  .container-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 150px;
    margin: 100px 0;

    h1 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 54px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      color: #426b53;
    }
  }

  .container-four {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    margin-top: 40px;

    .text {
      width: 100%;
      max-width: 360px;
      height: 168px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 0%;

        vertical-align: middle;
        color: #426b53;
      }

      .text-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 26px;
          line-height: 36px;
          letter-spacing: 1.25px;
          text-align: justify;
          vertical-align: middle;
          text-transform: uppercase;
        }

        span {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 1.25px;
          text-align: justify;
          vertical-align: middle;
        }
      }
    }

    .card {
      width: 788px;
      height: 403px;
      background-image: url(../../../public/diva2.svg);
      background-repeat: no-repeat;
      margin-bottom: 40px;

      .content {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #efc209;

        h1 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 900;
          font-size: 30px;
          line-height: 36px;
          letter-spacing: 1.25px;
          text-align: justify;
          vertical-align: middle;
          text-transform: uppercase;
          color: #426b53;
        }
      }
    }
  }

  .container-six {
    padding: 0px 150px;
    margin-top: 100px;

    .text5 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 40px;

      h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 45px;
        letter-spacing: 1.25px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #426b53;
      }

      h2 {
        font-family: Roboto Slab, sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0.25px;
        color: #426b53;
      }
    }
  }

  .container-seven {
    padding: 0px 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .container-text {
      max-width: 516px;
      width: 100%;
      height: 300px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 46px;
          line-height: 100%;
          letter-spacing: 0.15px;
          color: #132937;
        }

        h2 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0px;
        }
      }

      h2 {
        margin-top: 20px;
        font-family: Roboto Slab, sans-serif;
        font-weight: 300;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0.5px;
        color: #000000;
      }
    }
  }

  .container-eight {
    h1 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 45px;
      letter-spacing: 1.25px;
      vertical-align: middle;
      text-transform: uppercase;
      color: #426b53;
      padding: 0px 150px;
      margin-bottom: 60px;
    }

    margin-top: 100px;
  }

  .container-nine {
    width: 100%;
    padding: 0px 100px !important;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 120px;

    .content {
      max-width: 846px;
      width: 100%;
      height: 864px;

      .pencil {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        .edit {
          display: flex;
          align-items: center;
          gap: 15px;

          span {
            font-family: Mitr, sans-serif;
            font-weight: 275;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;
          }
        }

        .date {
          font-family: Mitr, sans-serif;
          font-weight: 275;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0%;
        }
      }

      h1 {
        font-family: Roboto Slab, sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0.25px;
      }
    }

    .minor-card {
      max-width: 469px;
      width: 100%;
      height: 206px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      border-bottom: 2px solid #dfe6ef;

      .photo {
        width: 170.55px;
        height: 165.6px;
      }

      .content-minor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 20px 0px;

        h4 {
          font-family: Roboto Slab, sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0.15px;
          vertical-align: middle;
        }

        span {
          font-family: Mitr, sans-serif;
          font-weight: 300;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0.25px;
        }

        .date {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-family: Mitr, sans-serif;
            font-weight: 275;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.4px;
          }
        }
      }
    }
  }

  app-acordion {
    display: block;
    width: 74%;
    margin-left: 100px;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }

  @media (max-width: 1600px) and (min-width: 1282px) {
    .container-eight {
      h1 {
        padding: 0px 80px !important;
      }
    }
    .project {
      .text-project {
        max-width: 545px !important;

        h1 {
          font-size: 18px !important;
          line-height: 28px !important;
        }
      }
    }
    .container-two {
      padding: 0px 74px !important;
      height: 333px !important;
      transition: all 0.3s ease-in-out;
      .square-content {
        width: 336px !important;
        span {
          max-width: 284px !important;

          font-size: 17px !important;

          margin-bottom: 20px;
          line-height: 25px !important;
        }
      }

      .square-content-two {
        width: 336px !important;
      }
    }
    .container-seven {
      padding: 0px 80px;
    }
  }

  @media (max-width: 1280px) {
    .container-eight {
      h1 {
        padding: 0px 80px !important;
      }
    }
    .container-one {
      transition: all 0.3s ease-in-out;
      .project {
        .text-project {
          max-width: 545px !important;

          h1 {
            font-size: 18px !important;
            line-height: 28px !important;
          }
        }
      }
    }
    .container-two {
      padding: 0px 74px !important;
      height: 333px !important;
      transition: all 0.3s ease-in-out;
      .square-content {
        span {
          max-width: 284px !important;

          font-size: 17px !important;

          margin-bottom: 20px;
          line-height: 25px !important;
        }
      }
    }
    .container-four {
      margin-bottom: 100px !important;
      padding: 0px 100px !important;
      transition: all 0.3s ease-in-out;

      .card {
        width: 554px !important;
        height: 328px !important;
      }
    }

    .container-six {
      .text5 {
        h2 {
          font-size: 34px;
        }
      }
    }

    .container-seven {
      padding: 0px 80px;
    }

    .container-nine {
      .content {
        .photo {
          img {
            width: 100% !important;
          }
        }
        .cards {
          .minor-card {
            height: auto !important;
            img {
              width: 100% !important;
              height: 100%;
            }
          }
        }
      }
    }

    app-acordion {
      width: 74%;
    }
  }
  @media (max-width: 1096px) and (min-width: 992px) {
    .project {
      .text-project {
        max-width: 545px !important;

        h1 {
          font-size: 18px !important;
          line-height: 28px !important;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .container-eight {
      h1 {
        padding: 0px 0px !important;
      }
    }
    .card {
      margin-bottom: 0px !important;
    }
    nav {
      padding: 0 10px;
    }
    .top {
      justify-content: space-between;
    }
    app-dropdown {
      display: inherit !important;
    }
    .container-one {
      padding: 0 !important;
      .containertext {
        gap: 0px !important;
        h1 {
          width: 100% !important;
        }
        .text {
          h1 {
            font-size: 46px;
            line-height: 51px;
            width: 100%;
          }
        }
        h1 {
          width: 297px;
          font-size: 26px;
        }
      }
      .project {
        flex-direction: column;

        .text-project {
          height: auto;
          h1 {
            font-size: 14px !important;
            line-height: 22px !important;
          }
        }
      }
    }
    .container-two {
      display: none;
    }
    .container-one {
      .containertext {
        flex-direction: column !important;
        margin-bottom: 200px !important;
      }
      .project {
        padding: 0px 80px;
        display: flex;
        align-items: center;
        margin: 20px 0px;
      }
    }
    .container-four {
      flex-direction: column !important;
      display: flex;

      padding: 0px;

      .card {
        margin-top: 141px;
        width: 100% !important;
      }
    }
    .container-six {
      padding: 0px 36px;
    }
    app-acordion {
      width: 100% !important;
      margin-left: 0px !important;
    }

    nav {
      ul {
        display: none !important;
      }
    }

    .container-seven {
      flex-direction: column !important;
    }

    .container-one,
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six,
    .container-seven,
    .container-eight,
    .container-nine {
      padding: 0 50px;
    }

    .container-nine {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .content {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        .pencil {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six,
    .container-seven,
    .container-eight,
    .container-nine {
      padding: 0 10px;
    }
    .container-one {
      padding: 0px;
    }
  }

  @media (max-width: 500px) {
    nav {
      padding: 0px 10px;
      button{
        font-size: 14px;
      }
      img {
        width: 190px;
        height: 80px;
      }

      button {
        width: 94px;
        height: 41px;

        img{
          margin-right: 3px;
        }
      }
    }
    .container-seven {
      .container-text {
        margin-bottom: 113px !important;
      }
    }

    .container-one {
      .containertext {
        gap: 20px !important;
        margin-bottom: 100px !important;

        .text {
          width: 100%;
          height: 100%;

          h1 {
            font-size: 46px;
            line-height: 51px;
          }
        }
        .sub {
          line-height: 28px;
          font-size: 18px !important;
        }
      }
      .project {
        flex-direction: column;

        .text-project {
          height: auto;
          h1 {
            font-size: 14px !important;
            line-height: 22px !important;
          }
        }
      }
    }

    .container-four {
      padding: 0 !important;
      align-items: center;

      .card {
        width: 96% !important;
      }
      .text {
        .text-content {
          h2 {
            font-size: 24px;
          }
          span {
            font-family: Roboto Slab, sans-serif;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 1.25px;
            text-align: left;
          }
        }
      }
    }
    .container-nine {
      padding: 0px 10px !important;
    }
  }

  @media (max-width: 400px) {
    .sub {
      margin-top: 46px !important;
    }
  }
}
