<div class="container">
    <div class="top">
        <app-dropdown/>
      <div class="itens">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>
    <nav>
        <img src="./logo.svg" alt="">
        <ul>
        <li><a href="#project">O Projeto</a></li>
        <li><a href="#contentC">Conteudo</a></li>
        <li><a href="#help">Ajuda</a></li>
        <li><a href="#red">#RedeJED</a></li>
    </ul>
    <button><img src="./tes.svg" alt="">Entrar</button>
    </nav>

    <div class="container-one">
        <div class="containertext">
            <div class="text">
                <H1>DÊ UM PLAY NO SEU FUTURO</H1>
            </div>
            <h1 class="sub">Curso online com formação personalizada para você empreender de forma inteligente e estratégica</h1>
        </div>

        <div class="photo">
        <img class="foto" src="./fotoH.jpg" alt="">
        <img id="project" class="onda" src="./ondas.svg" alt="">
    </div>

        <div  class="project">
            <h1 class="pr">O projeto</h1>
            <div class="text-project">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ullamcorper metus. Nunc cursus orci tortor, sed interdum mi commodo a.</h1>
                <h1>Duis fermentum velit at sapien iaculis tincidunt. Integer ultrices mollis sagittis. Nulla facilisi. Nulla facilisi.</h1>
            </div>
           
        </div>
    
    </div>
    <div class="container-two">
        <div class="square-content">
            <div class="circle"><h1># de estudantes</h1></div>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ullamcorper metus.</span>
        </div>
        <img src="./divos.svg" alt="">
        <div class="square-content-two">
            <div class="circle">
                <h1># de alcance</h1>
            </div>
        </div>
    </div>
    <div class="container-three">
        <h1>Equipe</h1>
       <app-carousel/>

      
    </div>
    <img id="contentC" src="./onda2.svg" alt="">
    <div class="container-four">
        <div class="text">
            <h1>CONTEÚDOS</h1>
            <div class="text-content">
                <h2>Lorem ipsum </h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ullamcorper metus.</span>
            </div>
        </div>

        <div class="card">
          <div class="content">
            <h1>PERCURSO BÁSICO</h1>
          </div>
        </div>
        
    </div>

    <div class="container-five">
        <app-carousel-square/>
    </div>
    <div id="help" class="container-six">
        <div class="text5">
            <h1>AJUDA</h1>
            <h2>Dúvidas frequentes</h2>
        </div>
      
        <app-acordion/>
    </div>

    <div class="container-seven">
        <div class="container-text">
            <div class="text">
                <h1>Fale conosco</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat lobortis dui vitae laoreet. </h2>
            </div>
            <h2>Preencha o formulário ao lado para entrar em contato.</h2>
        </div>
        <app-form/>
      
    </div>

    <div id="red" class="container-eight">
        <h1>Rede#JED</h1>
        <app-carousel-content/>
    </div>
    <div class="container-nine">
        
        <div class="content">
            <div class="photo">
                <img src="./fotoend.svg" alt="">
            </div>
            <div class="pencil">
                <div class="edit">
                    <img src="./edit.svg" alt="">
                    <span>Escrita por Maria</span>
                </div>
                <div class="date">
                    08 Abril, 2025 / 02min de leitura
                </div>
            
            </div>
            <h1>Insira o título da postagem do blog nesse trecho</h1>
        </div>
        <div class="cards">
           @for (card of cards; track $index) {
            <div class="minor-card" >
                <div class="photo">
                  <img [src]="card.imagem" alt="">
                </div>
                <div class="content-minor-card">
                  <h4>{{ card.titulo }}</h4>
                  <span>Escrito por {{ card.autor }}</span>
                  <div class="date">
                    <span>{{ card.data }}</span>
                    <span>{{ card.tempoLeitura }}</span>
                  </div>
                </div>
              </div>
           }
            
            
        </div>
    </div>
</div>