<div class="card-form">
  <div class="input-group">
    <app-input
      [config]="{
        label: 'Nome:',
        placeholder: 'Digite seu nome',
        id: 'nome',
        name: 'nome'
      }"
    ></app-input>
    <app-input
      [config]="{
        label: 'E-mail:',
        placeholder: 'Digite seu E-mail',
        id: 'email',
        name: 'email',
        type: 'email'
      }"
    ></app-input>
  </div>
  <div class="input-group">
    <app-input
      [config]="{
        label: 'Polo:',
        placeholder: 'Digite o nome do Polo',
        id: 'polo',
        name: 'polo'
      }"
    ></app-input>
    <app-input
      [config]="{
        label: 'Turma:',
        placeholder: 'Digite a sua turma',
        id: 'turma',
        name: 'turma'
      }"
    ></app-input>
  </div>

  <app-input
    [config]="{
      label: 'Assunto:',
      placeholder: 'Digite o assunto',
      id: 'assunto',
      name: 'assunto'
    }"
  ></app-input>

  <div class="check">
    <input type="checkbox" id="meu-checkbox" />
    <label for="meu-checkbox">Li e aceito a política de privacidade</label>
  </div>

  <button>Enviar</button>
</div>
