<aside
class="fixed lg:relative z-40 top-0 left-0 h-full bg-white shadow-lg lg:shadow-none transform lg:translate-x-0 transition-transform duration-200 ease-in-out w-64 lg:w-3xs p-6 pt-0 px-3"
[class.-translate-x-full]="!sidebarOpen"
>
<div class="p-6 border-b border-gray-200">
  <div class="flex items-center gap-3">
    <div class="w-10 h-10 bg-emerald-600 rounded-lg flex items-center justify-center">
      <div class="w-6 h-6 bg-white rounded-sm flex items-center justify-center">
        <div class="w-3 h-3 bg-emerald-600 rounded-sm"></div>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-gray-900 text-sm leading-tight">JOVENS</h2>
      <h2 class="font-bold text-gray-900 text-sm leading-tight">EMPREENDEDORES</h2>
      <h2 class="font-bold text-gray-900 text-sm leading-tight">DIGITAIS</h2>
    </div>
  </div>
</div>
<nav class="flex flex-col gap-2 p-4">
  <div
    class="flex items-center py-2 px-4 gap-3 hover:bg-emerald-100 hover:text-emerald-700 rounded-lg cursor-pointer"
    routerLink="pre-cadastros"
    routerLinkActive="active"
    (click)="sidebarOpen = false"
  >
    <i class="pi pi-user"></i>
    <span class="text-sm font-medium">Pré-cadastros</span>
  </div>
  <div
    class="flex items-center py-2 px-4 gap-3 hover:bg-emerald-100 hover:text-emerald-700 rounded-lg cursor-pointer"
    routerLink="edit-landing-page2"
    routerLinkActive="active"
    (click)="sidebarOpen = false"
  >
    <i class="pi pi-file"></i>
    <span class="text-sm font-medium">Editar Página Inicial</span>
  </div>
</nav>
</aside>


@if(sidebarOpen) {
  <div
    class="fixed inset-0 bg-black opacity-50 z-30 lg:hidden"
    (click)="sidebarOpen = false"
  ></div>

}


<div class="dashboard flex flex-col gap-8">
  <header class="flex justify-between">
    <div class="flex items-center gap-4">
      <!-- Botão Hamburger -->
      <button
        class="lg:hidden text-emerald-700 focus:outline-none"
        (click)="sidebarOpen = !sidebarOpen"
      >
        <i class="pi pi-bars text-2xl"></i>
      </button>
      <h2 class="text-lg font-medium">Olá, <span class="font-bold">Genilton</span>!</h2>
    </div>
    <button pButton (click)="op.toggle($event)" class="!bg-transparent !p-0 !m-0 !block !border-none">
      <p-avatar label="J" styleClass="!bg-emerald-800 text-white!" size="large" shape="circle" />
      <p-popover #op>
        <div class="flex flex-col gap-4 w-40">
          <div>
            <span class="font-semibold block mb-2">Ações</span>
            <ul class="list-none p-0 m-0 flex flex-col">
              <li class="flex items-center gap-2 px-2 py-3 hover:bg-emerald-50 cursor-pointer rounded-md" (click)="logout()">
                <div class="flex gap-2 items-center">
                  <i class="pi pi-sign-out"></i>
                  <span class="font-medium">Sair</span>
                </div>
              </li>
            </ul>
          </div>
       </div>
      </p-popover>
    </button>
  </header>
  <div class="w-full p-4 lg:h-[90vh] h-full bg-white rounded-lg">
    <router-outlet></router-outlet>
  </div>
</div>
