<div class="card">
  <p-carousel
    [value]="items"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [circular]="true"
    [autoplayInterval]="
      isAutoplayPaused || isAutoplayPermanentlyPaused ? 0 : 3000
    "
    [page]="currentPage"
    (onPage)="onPageChange($event)"
    (mouseenter)="pauseAutoplay()"
    (mouseleave)="resumeAutoplay()"
    (keydown)="pauseAutoplayPermanently()"
  >
    <ng-template let-item let-i="index" pTemplate="item">
      <div
        class="circle-container"
        [class.invisible-item]="item.isInvisible"
        (click)="pauseAutoplayPermanently()"
        (keydown)="pauseAutoplayPermanently()"
      >
        <img
          *ngIf="!item.isInvisible"
          [src]="item.image"
          [alt]="item.alt"
          class="circle-image"
        />
        <div *ngIf="item.isInvisible" class="invisible-placeholder"></div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="middle-person-info">
    <h3>{{ getCurrentMiddleItem().name }}</h3>
    <p>{{ getCurrentMiddleItem().role }}</p>
  </div>
</div>
