<div class="dropdown">
  <img src="/menu.svg" alt="Menu" (click)="toggleMenu()">

  <div class="menu" *ngIf="isMenuOpen">
    <ul>
      <li><a href="#project" (click)="toggleMenu()">{{ header.text1 || 'O Projeto' }}</a></li>
      <li><a href="#team">Equipe</a></li>
      <li><a href="#contentC" (click)="toggleMenu()">{{ header.text2 || 'Conteúdo' }}</a></li>
      <li><a href="#help" (click)="toggleMenu()">Perguntas Frequentes</a></li>
      <li><a href="#notices">Notícias</a></li>
    </ul>
  </div>
</div>
