<div class="w-full min-h-screen">
  <div class="max-w-[1440px]! mx-auto pt-8 px-3">
    <div>
      <div class="w-full flex justify-center">
        <div class="w-full max-w-4xl flex flex-col pt-12">
          <div class="flex gap-3 items-center pb-3">
            <p class="text-sm">{{post?.date}}</p> |
            <p class="text-sm"> {{post?.readingTime}} de leitura</p>
          </div>
          <h1 class=" text-emerald-900 flex-1">{{ post?.title }}</h1>
        </div>
        <!-- <div class="w-full h-[1px] bg-zinc-300"></div> -->
      </div>
      <div class="flex flex-col items-center mt-6">
        <div class="w-full max-w-4xl">
          <img [src]="post?.imageUrl" alt="" class="w-full h-100 object-cover rounded-lg">
          <div [innerHTML]="getSafeHtml(post?.description || '')" class="keep-html"></div>
        </div>
      </div>
    </div>
  </div>
</div>
