<div class="carousel-content-container">
  <!-- Seta esquerda -->
  <button (click)="previous()" class="carousel-nav-btn nav-left">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#CCC82E" viewBox="0 0 24 24">
      <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6z" />
    </svg>
  </button>

  <!-- Container principal -->
  <div class="carousel-content-wrapper">
    <div 
      class="carousel-content-track"
      [style.transform]="'translateX(' + translateX + 'px)'"
    >
      <div 
        *ngFor="let slide of slides; let i = index" 
        class="carousel-content-slide"
      >
        <div class="content-card">
          <div class="content-header">
            <svg
              class="play-icon"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M8 5v14l11-7z" fill="#426b53" />
            </svg>
            <h1>{{ slide.text }}</h1>
          </div>
          <img
            *ngIf="slide.type === 'image'"
            [src]="slide.imageUrl"
            [alt]="slide.text"
            class="content-image"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Seta direita -->
  <button (click)="next()" class="carousel-nav-btn nav-right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#CCC82E" viewBox="0 0 24 24">
      <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z" />
    </svg>
  </button>
</div>