::ng-deep .p-carousel .p-carousel-prev,
::ng-deep .p-carousel .p-carousel-next {
  color: #a3c300;
  font-size: 2rem;
}

::ng-deep .p-carousel .p-carousel-prev:focus,
::ng-deep .p-carousel .p-carousel-next:focus {
  box-shadow: none !important;
}


.teste{
     width: 716px !important;
    height: 306px !important;
}