<div *ngFor="let item of items; let i = index" class="accordion-item">
  <button (click)="toggle(i)" class="accordion-header">
    <span class="text">{{ item.title }}</span>
    <img
      src="./seta.svg"
      alt="Seta"
      class="icon"
      [class.rotated]="activeIndex === i"
    />
  </button>

  <div
    #content
    class="accordion-content"
    [style.height]="activeIndex === i ? content.scrollHeight + 'px' : '0px'"
  >
    <div class="accordion-inner">
      {{ item.content }}
    </div>
  </div>
</div>