<div class="flex justify-between items-center mb-4">
  <h3 class="text-lg text-zinc-700">Gerenciar Blog</h3>
  <button
    pButton
    type="button"
    icon="pi pi-plus"
    label="Adicionar Post"
    class="!bg-emerald-800 hover:bg-emerald-900! !border-emerald-700"
    (click)="showAddPostModal = true"
  ></button>
</div>

<p-panel showHeader="false">
  <p-table
    #dt
    [value]="posts() || []"
    [paginator]="true"
    [rows]="size"
    [lazy]="true"
    [first]="first"
    [totalRecords]="totalRecords"
    [loading]="loadingTable"
    (onLazyLoad)="loadPostsLazy($event)"
    stripedRows
    scrollable="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="min-w-48">Título</th>
        <th class="min-w-48">Data</th>
        <th class="min-w-48">Autor</th>
        <th class="min-w-48">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-post>
      <tr>
        <td [title]="post.title">{{ post.title | truncate:35 }}</td>
        <td [title]="post.date">{{ post.date | truncate:35 }}</td>
        <td [title]="post.author">{{ post.author | truncate:35 }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text mr-2" (click)="onEditPost(post)"></button>
          <button pButton icon="pi pi-eye" class="p-button-text" (click)="viewPost(post.id)"></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text ml-2"
            (click)="onDeletePost($event, post.id)"
            [disabled]="loadingTable"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td colspan="4">Nenhuma publicação encontrada.</td></tr>
    </ng-template>
  </p-table>
</p-panel>

<app-adicionar-post [isVisible]="showAddPostModal" (closed)="closeAddPostModal()" />
<app-editar-post
  [isVisible]="showEditPostModal"
  [postData]="selectedPost"
  (closed)="closeEditPostModal()"
/>

<p-confirmdialog />
<p-toast />
