<div *ngIf="isInitialLoading" class="custom-loading">
  <div class="loading-content">
    <img src="/logo.png" alt="Logo" class="loading-logo" />
    <div class="loading-text">Carregando...</div>
    <div class="loading-progress">
      <div class="progress-bar">
        <div class="progress-fill" [style.width.%]="loadingProgress"></div>
      </div>
      <div class="progress-text">{{ loadingProgress }}%</div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isInitialLoading">
  <button
    class="back-to-top-btn"
    [class.show]="showBackToTop"
    (click)="scrollToTop()"
    aria-label="Voltar ao topo"
  >
    <i class="pi pi-angle-up"></i>
  </button>

  <!-- Header sempre fixo -->
  <div class="header-container header-fixed">
    <div class="top bg-gradient-to-b from-[#C1CFA0] to-[#FFFFFF]">
      <app-dropdown />
      <div class="itens flex flex-row items-center gap-5">
        @if(isAuthenticated()) {
        <p-button
          label="Configurações"
          icon="pi pi-cog"
          styleClass="bg-white! text-emerald-800! border-emerald-700! hover:bg-gray-100"
          (onClick)="redirectToConfigs()"
          size="small"
        />
        }
        <div class="flex items-center gap-2">
          <a
            href="https://www.instagram.com/jovensempreendedores.digitais/"
            target="_blank"
            rel="noopener noreferrer"
            class="instagram-link"
            aria-label="Seguir no Instagram"
          >
            <div class="icon instagram"></div>
          </a>
          <a
            href="https://www.youtube.com/@jovensempreendedoresdigitais"
            target="_blank"
            rel="noopener noreferrer"
            class="instagram-link"
            aria-label="Seguir no YouTube"
          >
            <div class="icon youtube"></div>
          </a>
          <a
            href="mailto:empreendedoresdigitais@ifce.edu.br"
            target="_blank"
            rel="noopener noreferrer"
            class="instagram-link"
            aria-label="Seguir no Instagram"
          >
            <div class="icon email"></div>
          </a>
        </div>
      </div>
    </div>
    <nav>
      <img src="./logo.png" alt="" class="logoimg" />
      <ul>
        <li><a href="#project">Projeto</a></li>
        <li><a href="#contentC">Conteúdo</a></li>
        <li><a href="#help">Ajuda</a></li>
        <li><a href="#notices">Notícias</a></li>
      </ul>
      <button class="primary-btn" (click)="showDialog()">
        <img src="./tes.svg" alt="" />Pré-cadastro
      </button>
    </nav>
  </div>

  <!-- Espaçamento fixo para compensar header -->
  <div class="header-spacer"></div>

  <div class="container-one">
    <div class="containertext">
      <div class="text">
        <h1 class="anisette-extrabold text-3xl text-green-700">Dê um play no seu futuro</h1>
      </div>
      <h1 class="sub">
        Sua oportunidade de conhecer ferramentas digitais para criar,
        desenvolver e gerenciar seu negócio de forma rápida, prática e gratuita.
      </h1>
    </div>

    <div class="photo" id="project2">
      <img
        src="./diva4.jpg"
        class="foto"
        alt="Foto principal"
        style="object-fit: cover; width: 100%"
      />
      <img src="./ondas.svg" alt="" class="w-full" />
    </div>

    <div class="project" id="project">
      <h1 class="pr">O PROJETO</h1>
      <div class="text-project">
        <p>
          <strong>Jovens Empreendedores Digitais</strong> é um curso 100%
          gratuito que estimula o empreendedorismo com foco na geração de renda
          e no fortalecimento da economia solidária. Voltado para jovens do
          Pará, de 16 a 29 anos, o projeto oferece uma formação completa com:
        </p>
        <ul class="p-ml-4 p-mb-3">
          <li>• 4 passos práticos sobre negócios digitais.</li>
          <li>
            • Kits de aprendizagem com temas como marketing, vendas,
            inteligência artificial e mais.
          </li>
          <li>• Apoio para transformar sua ideia em realidade.</li>
        </ul>
        <p class="projectleft">
          O projeto é realizado pelo Instituto Federal de Educação, Ciência e
          Tecnologia do Ceará (IFCE), por meio do Centro de Referência em
          Educação a Distância (CREaD), em parceria com o Ministério da Ciência,
          Tecnologia e Inovação (MCTI).
        </p>
      </div>
    </div>
  </div>
  <div class="container-two">
    <div class="square-content">
      <div class="circle">
        <h1>
          oportunidade para mais de
          <div class="highlight-number">14 mil</div>
          estudantes
        </h1>
      </div>
      <span class="text-white"
        >Oferecemos um curso acessível para quem deseja explorar o mundo dos
        negócios digitais com autonomia.</span
      >
    </div>
    <img src="./step/ttt.jpg" alt="" />
    <div class="square-content-two">
      <div class="circle">
        <h1>alcançando 53 municípios do Pará</h1>
      </div>
    </div>
  </div>
  <div class="container-three">
    <h1 class="mb-4" id="team">EQUIPE</h1>
    <app-carousel />
  </div>
  <img id="contentC" src="./onda2.svg" alt="" />
  <div class="container-four">
    <div class="text">
      <h1>CONTEÚDO</h1>
      <div class="text-content">
        <span
          >Em quatro passos, você vai aprender ferramentas e estratégias para
          aprimorar o que já faz ou começar algo novo no mundo on-line.
          <br /><br />

          Para se aprofundar ainda mais no seu tipo de negócio, você também terá
          acesso a 24 kits exclusivos de conteúdo extra para explorar!</span
        >
      </div>
    </div>

    <!-- Novo carrossel personalizado -->
    <app-carousel-content></app-carousel-content>
  </div>

  <div class="container-five">
    <app-carousel-square />
  </div>
  <img id="contentC" src="./onda2.svg" alt="" />
  <div id="help" class="container-six">
    <div class="text5">
      <h1>Perguntas frequentes</h1>
    </div>

    <app-acordion />
  </div>

  <img src="./ondas.svg" alt="" class="w-full mt-8" />

  <div
    class="container-nine flex flex-col justify-center max-w-7xl mx-auto px-4 py-16"
    id="notices"
  >
    <div>
      <h1 class="title-container text-[#426b53]! text-center font-medium uppercase text-[33px]  lg:text-[54px]">Notícias</h1>
    </div>

    <!-- Container da imagem responsivo -->
    <div class="w-full max-w-md sm:max-w-lg mx-auto mb-6 md:mb-8">
      <div class="aspect-square rounded-lg overflow-hidden shadow-md">
        <img
          [src]="blogDestaque?.imagem"
          alt="Post destacado"
          class="w-full h-full object-cover"
        />
      </div>
    </div>

    <div class="flex flex-col items-center text-center gap-4">
      <div
        class="flex flex-wrap justify-center items-center gap-2 text-sm text-zinc-600"
      >
        <img src="./edit.svg" alt="ícone" class="w-4 h-4" />
        <span>{{ blogDestaque?.data }}</span>
        <span class="text-xs">•</span>
        <span>{{ blogDestaque?.tempoLeitura }}</span> de leitura
      </div>

      <h1
        class="text-2xl sm:text-3xl md:text-4xl font-bold text-zinc-800 leading-tight max-w-4xl"
      >
        {{ blogDestaque?.titulo }}
      </h1>

      <button
        (click)="redirectToBlog()"
        class="border-none border border-emerald-700 cursor-pointer px-6 py-2 bg-emerald-800 hover:bg-emerald-900 text-white font-semibold rounded-lg transition mt-2"
      >
        Ver notícias
      </button>
    </div>
  </div>

  <app-footer />
</div>

<p-toast />

<p-dialog
  styleClass="!bg-orange-50 mx-1! md:mx-0!"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
  [showHeader]="false"
  [contentStyle]="{ padding: '0' }"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="bg-emerald-800 p-2 overflow-hidden rounded-t-xl">
      <img src="/onda2.svg" alt="" class="!w-full !h-15" />
    </div>
    <div class="px-4">
      <div class="flex flex-col justify-center items-center gap-2 pt-6 pb-4">
        <h1 class="text-3xl uppercase text-green-700">Pré-Cadastro</h1>
        <span class="text-green-700 text-lg text-center"
          >Preencha com seus dados e dê um play no seu futuro!</span
        >
      </div>
      <div class="flex flex-col gap-1 mb-4">
        <label for="name" class="font-semibold text-gray-700"
          >Nome completo</label
        >
        <input
          pInputText
          id="name"
          placeholder="Seu nome"
          formControlName="name"
          class="flex-auto !border-gray-300 h-10"
          autocomplete="off"
        />
        @if(showErrors() && form.get('name')?.hasError('required')) {
        <p-message
          severity="error"
          text="O nome completo é obrigatório."
          variant="simple"
        ></p-message>
        } @if(showErrors() && form.get('name')?.hasError('minlength')){
        <p-message
          severity="error"
          text="O nome deve ter pelo menos 6 caracteres."
          variant="simple"
        ></p-message>
        }
      </div>
      <div class="flex flex-col gap-1 mb-4">
        <label for="email" class="font-semibold text-gray-700">E-mail</label>
        <input
          id="email"
          pInputText
          placeholder="exemplo@exemplo.com"
          formControlName="email"
          class="flex-auto !border-gray-300 h-10"
          autocomplete="off"
        />
        @if(showErrors() && form.get('email')?.hasError('required')){
        <p-message
          severity="error"
          text="O e-mail é obrigatório."
          variant="simple"
        ></p-message>
        } @if(showErrors() && form.get('email')?.hasError('email')) {
        <p-message
          severity="error"
          text="Insira um e-mail válido."
          variant="simple"
        ></p-message>
        }
      </div>
      <div class="flex flex-col gap-1 mb-8">
        <label for="phone" class="font-semibold text-gray-700">Telefone</label>
        <p-inputmask
          formControlName="phone"
          styleClass="!w-full !border-gray-300 h-10"
          mask="(99) 9 9999 - 9999"
          placeholder="(99) 9 9999 9999"
          [unmask]="true"
        ></p-inputmask>
        @if(showErrors() && form.get('phone')?.hasError('required')){
        <p-message
          severity="error"
          text="O telefone é obrigatório."
          variant="simple"
        ></p-message>
        }
      </div>

      <div class="flex flex-col gap-3 mb-8">
        <div class="flex gap-3">
          <p-checkbox
            formControlName="acceptedTerms"
            [binary]="true"
            inputId="acceptedTerms"
          />
          <label for="acceptedTerms">
            Autorizo o tratamento dos meus dados pessoais fornecidos neste
            formulário, com a finalidade de participar do banco de vagas do
            projeto Jovens Empreendedores Digitais e viabilizar futuras etapas
            de seleção e matrícula. <br /><br />
            Estou ciente de que os dados serão utilizados para fins
            administrativos, educacionais e de comunicação relacionados ao
            referido curso, respeitando as disposições da Lei Geral de Proteção
            de Dados Pessoais (Lei n° 13.709/2018).
          </label>
        </div>
        @if(showErrors() && form.get('acceptedTerms')?.hasError('required')) {
        <p-message
          severity="error"
          text="Confirme o termo de uso para realizar o pré-cadastro."
          variant="simple"
        ></p-message>
        }
      </div>

      <div class="flex justify-end pb-4 gap-2">
        <button
          pButton
          class="w-30 !py-3 !rounded-xl !border-gray-300 !text-gray-700 !bg-gray-50 hover:bg-gray-100! !transition"
          (click)="visible = false"
        >
          Cancelar
        </button>
        <button
          pButton
          type="submit"
          class="!bg-emerald-800 hover:bg-emerald-900! border-emerald-700 w-30 !py-3 !rounded-xl"
          [loading]="isLoading()"
        >
          Enviar
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog
  styleClass="!bg-orange-50"
  [modal]="true"
  [(visible)]="confirmVisible"
  [style]="{ width: '25rem' }"
  [showHeader]="false"
  [contentStyle]="{ padding: '0' }"
  [closable]="false"
>
  <div class="bg-emerald-800 p-2 overflow-hidden rounded-t-xl">
    <img src="/onda2.svg" alt="" class="!w-full !h-15" />
  </div>
  <div class="px-4 py-6">
    <div class="flex flex-col justify-center items-center gap-4 text-center">
      <div
        class="w-16 h-16 bg-yellow-100 rounded-full flex items-center justify-center"
      >
        <i class="pi pi-exclamation-triangle text-yellow-600 text-2xl"></i>
      </div>
      <h2 class="text-xl font-bold text-green-700 uppercase">Atenção</h2>
      <div class="bg-yellow-50 border border-yellow-200 rounded-lg p-4">
        <p class="text-gray-700 leading-relaxed">
          <strong>Este pré-cadastro não garante vaga no curso</strong>, mas
          inclui você no nosso banco de vagas. Acesse o seu e-mail e finalize o
          cadastro para registrar sua inscrição.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-4">
        <button
          pButton
          class="!py-3 !px-6 !rounded-xl !border-gray-300 !text-gray-700 !bg-gray-50 hover:bg-gray-100!"
          (click)="confirmVisible = false"
        >
          Cancelar
        </button>
        <button
          pButton
          class="!bg-emerald-800 hover:bg-emerald-900! border-emerald-700 !py-3 !px-6 !rounded-xl"
          (click)="confirmSubmit()"
          [loading]="isLoading()"
        >
          Confirmar Envio
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  styleClass="!bg-orange-50"
  [modal]="true"
  [(visible)]="successVisible"
  [style]="{ width: '25rem' }"
  [showHeader]="false"
  [contentStyle]="{ padding: '0' }"
  [closable]="false"
>
  <div class="bg-emerald-800 p-2 overflow-hidden rounded-t-xl">
    <img src="/onda2.svg" alt="" class="!w-full !h-15" />
  </div>
  <div class="px-4 py-6">
    <div class="flex flex-col justify-center items-center gap-4 text-center">
      <div
        class="w-16 h-16 bg-yellow-100 rounded-full flex items-center justify-center"
      >
        <i class="pi pi-check-circle text-emerald-700 text-2xl"></i>
      </div>
      <h2 class="text-xl font-bold text-green-700 uppercase">
        Estamos quase lá!
      </h2>
      <div class="bg-yellow-50 border border-yellow-200 rounded-lg p-4">
        <p class="text-gray-700 leading-relaxed">
          <strong> Acesse o seu e-mail</strong> e finalize o cadastro para
          registrar sua inscrição no banco de vagas.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-4">
        <button
          pButton
          class="!bg-emerald-800 hover:bg-emerald-900! border-emerald-700 !py-3 !px-6 !rounded-xl"
          (click)="successVisible = false"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</p-dialog>
