<div class="container">
    <div class="top">
        <app-dropdown/>
      <div class="itens">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>
    <nav>
        <img [src]="headerResponseDto.urllogo" alt="">
        <ul>
            <li><a href="#project">{{ headerResponseDto.projeto }}</a></li>
            <li><a href="#contentC">{{ headerResponseDto.conteudo }}</a></li>
            <li><a href="#help">{{ headerResponseDto.ajuda }}</a></li>
            <li><a href="#red">{{ headerResponseDto.red }}</a></li>
    </ul>
    <button class="primary-btn" (click)="showDialog()"><img src="./tes.svg" alt="">{{headerResponseDto.buttontext}}</button>
    <p-dialog
      styleClass="!bg-orange-50"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '30rem' }"
      [showHeader]="false"
      [contentStyle]=" { 'padding': '0' }"
    >
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="bg-emerald-800 p-2 overflow-hidden rounded-t-xl">
          <img src="/onda2.svg" alt="" class="!w-full !h-15" />
        </div>
        <div class="px-4">
          <div class="flex flex-col justify-center items-center gap-2 pt-6 pb-4">
            <h1 class="text-3xl uppercase text-green-700">Pré-Inscrição</h1>
            <span class="text-green-700 text-lg">Preencha seus dados e dê um play no seu futuro!</span>
          </div>
          <div class="flex flex-col gap-1 mb-4">
            <label for="name" class="font-semibold text-gray-700">Nome Completo</label>
            <input
              pInputText
              id="name"
              placeholder="Seu nome"
              formControlName="name"
              class="flex-auto !border-gray-300 h-10"
              autocomplete="off"
            />
            @if(showErrors() && form.get('name')?.hasError('required')) {
              <p-message
                severity="error"
                text="O nome completo é obrigatório."
                variant="simple"
              ></p-message>
            }
            @if(showErrors() && form.get('name')?.hasError('minlength')){
              <p-message
                severity="error"
                text="O nome deve ter pelo menos 6 caracteres."
                variant="simple"
              ></p-message>
            }
          </div>
          <div class="flex flex-col gap-1 mb-4">
            <label for="email" class="font-semibold text-gray-700">Email</label>
            <input
              pInputText
              id="email"
              placeholder="email@exemplo.com"
              formControlName="email"
              class="flex-auto !border-gray-300 h-10"
              autocomplete="off"
            />
            @if(showErrors() && form.get('email')?.hasError('required')){
              <p-message
                severity="error"
                text="O email é obrigatório."
                variant="simple"
              ></p-message>
            }
            @if(showErrors() && form.get('email')?.hasError('email')) {
              <p-message
                severity="error"
                text="Insira um email válido."
                variant="simple"
              ></p-message>
            }
          </div>
          <div class="flex flex-col gap-1 mb-8">
            <label for="phone" class="font-semibold text-gray-700">Telefone</label>
            <p-inputmask
              formControlName="phone"
              styleClass="!w-full !border-gray-300 h-10"
              mask="(99) 9 9999 - 9999"
              placeholder="(99) 9 9999 9999"
              [unmask]="true"
            ></p-inputmask>
            @if(showErrors() && form.get('phone')?.hasError('required')){
              <p-message
                severity="error"
                text="O telefone é obrigatório."
                variant="simple"
              ></p-message>
            }
          </div>
          <div class="flex justify-end pb-4 gap-2">
            <button
              pButton
              class="w-30 !py-3 !rounded-xl !border-gray-300 !text-gray-700 !bg-gray-50 hover:bg-gray-100! !transition"
              (click)="visible = false"
            >
              Cancelar
            </button>
            <button
              pButton
              type="submit"
              class="!bg-emerald-800 hover:bg-emerald-900! border-emerald-700 w-30 !py-3 !rounded-xl"
              [loading]="isLoading()"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </p-dialog>
    </nav>

    <div class="container-one">
        <div class="containertext">
            <div class="text">
                <H1>{{bannerResponseDto.title}}</H1>
            </div>
            <h1 class="sub">{{bannerResponseDto.description}}</h1>
        </div>

        <div class="photo">
          <p-carousel
            [value]="carouselImages"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
            [showNavigators]="false"
          >
            <ng-template pTemplate="item" let-image>
              <img [src]="image" class="foto" alt="" style="object-fit: cover;" />
            </ng-template>
          </p-carousel>
              <img src="./ondas.svg" alt="" class="w-full">
        </div>
    

        <div  class="project">
            <h1 class="pr">{{presentationSectionResponseDto.title}}</h1>
            <div class="text-project">
                <h1>{{presentationSectionResponseDto.firstDescription}}</h1>
                <h1>{{presentationSectionResponseDto.secondDescription}}</h1>
            </div>

        </div>

    </div>
    <div class="container-two">
        <div class="square-content">
            <div class="circle"><h1>{{presentationSectionResponseDto.firstStatistic}}</h1></div>
            <span>{{presentationSectionResponseDto.imgDescription}}</span>
        </div>
        <img [src]="presentationSectionResponseDto.imgUrl" alt="">
        <div class="square-content-two">
            <div class="circle">
                <h1>{{presentationSectionResponseDto.secondStatistic}}</h1>
            </div>
        </div>
    </div>
    <div class="container-three">
        <h1>{{teamResponseDto.equipttext}}</h1>
       <app-carousel/>


    </div>
    <img id="contentC" src="./onda2.svg" alt="">
    <div class="container-four">
        <div class="text">
            <h1>{{contentResponseDto.title}}</h1>
            <div class="text-content">
                <h2>{{contentResponseDto.subTitle}} </h2>
                <span>{{contentResponseDto.description}}</span>
            </div>
        </div>

     <div
  class="card"
  [ngStyle]="{
    'background-image': 'url(' + contentResponseDto.mainImg + ')',
    'width': '788px',
    'height': '403px',
    'background-repeat': 'no-repeat',
    'margin-bottom': '40px'
  }"
>
  <div class="content">
    <h1>{{contentResponseDto.mainImgDescription}}</h1>
  </div>
</div>

    </div>

    <div class="container-five">
        <app-carousel-square/>
    </div>
    <div id="help" class="container-six">
        <div class="text5">
            <h1>{{faqSectionResponseDto.title}}</h1>
            <h2>{{faqSectionResponseDto.subtitle}}</h2>
        </div>

        <app-acordion/>
    </div>

    <div class="container-seven">
        <div class="container-text">
            <div class="text">
                <h1>{{contactUsResponseDto.title}}</h1>
                <h2>{{contactUsResponseDto.subTitle}} </h2>
            </div>
            <h2>{{contactUsResponseDto.description}}</h2>
        </div>
        <app-form/>

    </div>

    <div id="red" class="container-eight">
        <h1>{{redeJediSectionDto.titulo}}</h1>
        <app-carousel-content/>
    </div>
    <div class="container-nine">
  <div class="content" *ngIf="blogDestaque">
    <div class="photo cardmain">
      <img [src]="blogDestaque.imagem" [alt]=""  class="carr">
    </div>
    <div class="pencil">
      <div class="edit">
        <img src="./edit.svg" alt="" >
        <span>Escrita por {{ blogDestaque.autor }}</span>
      </div>
      <div class="date">
        {{ blogDestaque.data }} / {{ blogDestaque.tempoLeitura }}
      </div>
    </div>
    <h1>{{ blogDestaque.titulo }}</h1>
  </div>

  <div class="cards">
    @for (card of cards; track $index) {
      <div class="minor-card">
        <div class="photo">
          <img [src]="card.imagem" [alt]=""  class="w-full h-full teste">
        </div>
        <div class="content-minor-card">
          <h4>{{ card.titulo }}</h4>
          <span>Escrito por {{ card.autor }}</span>
          <div class="date">
            <span>{{ card.data }}</span>
            <span>{{ card.tempoLeitura }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>
</div>

<p-toast />
