.preview {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
  
.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
  

.preview{
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}