:host {
  display: block;
  width: 100%;
}

img {
  object-fit: cover;
  height: 500px;
}

.carousel-inner {
  max-height: 500px;
}

#carouselExample{
  width: 82%;
    margin: 0 auto;
}

@media (max-width: 768px) {
  #carouselExample{
    width: auto !important;
      margin: 0 auto;
  }
}