<!-- cadastro-completo.component.html -->
<div class="flex flex-col min-h-screen bg-gradient-to-b from-emerald-700 to-emerald-900 flex items-center justify-center p-6">



  <div class="bg-orange-50 rounded-2xl shadow-xl p-10 max-w-3xl w-full gap-8">
    <!-- Logo e descrição -->
    <div class="flex flex-col items-center gap-2">
      <img src="logo.svg" alt="Logo JED" class="w-50 mb-1">
      <h1 class="text-3xl text-center font-bold uppercase text-green-900 mb-6">Completar cadastro</h1>
    </div>
    <!-- Formulário -->
    <div>

      <form [formGroup]="form" (ngSubmit)="cadastrar()" class="space-y-4">
        <div>
          <label class="text-green-900 block mb-1">Nome Completo</label>
          <input pInputText [disabled]="true" formControlName="completeName" class="w-full" />
        </div>

        <div>
          <label class="text-green-900 block mb-1">E-mail</label>
          <input pInputText [disabled]="true" formControlName="email" class="w-full"/>
        </div>

        <div>
          <label class="text-green-900 block mb-1">Telefone</label>
          <p-inputmask
            formControlName="cellphone"
            mask="(99) 99999-9999"
            placeholder="(00) 00000-0000"
            styleClass="w-full"
            unmask="true"
            [disabled]="true"
          ></p-inputmask>
        </div>

        <div class="flex gap-5">
          <div class="w-1/2">
            <label for="birth-date" class="text-green-900 block mb-1 w-fit"> Data de nascimento</label>
            <p-datepicker
              formControlName="birthDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="birth-date"
              class="!block !w-full"
              placeholder="dd/mm/aaaa"
              (onInput)="teste($event)"
            />
            @if(showErrors() && form.get('birthDate')?.hasError('required')) {
              <p-message
                severity="error"
                text="Data de nascimento é obrigatória."
                variant="simple"
              ></p-message>
            }
            @if(showErrors() && form.get('birthDate')?.hasError('dataFutura')) {
              <p-message
                severity="error"
                text="Data de nascimento não pode ser no futuro."
                variant="simple"
              ></p-message>
            }
          </div>

          <div class="w-1/2">
            <label class="text-green-900 block mb-1">Município de moradia</label>
            <input
              pInputText
              formControlName="municipality"
              class="w-full"
              placeholder="Digite o município"
              class="!w-full"
            />
            @if(showErrors() && form.get('municipality')?.hasError('required')) {
              <p-message
                severity="error"
                text="Município é obrigatório."
                variant="simple"
              ></p-message>
            }
          </div>
        </div>
        <div>
          <label class="text-green-900 block mb-1">Cpf</label>
          <p-inputmask
            formControlName="cpf"
            mask="999.999.999-99"
            placeholder="000.000.000-00"
            styleClass="w-full"
            unmask="true"
          ></p-inputmask>
          @if(showErrors() && form.get('cpf')?.hasError('required')) {
            <p-message
              severity="error"
              text="O CPF é obrigatório."
              variant="simple"
            ></p-message>
          }
          @if(showErrors() && form.get('cpf')?.hasError('cpfInvalido')) {
            <p-message
              severity="error"
              text="CPF inválido. Verifique os números digitados."
              variant="simple"
            ></p-message>
          }
        </div>

        <div>
          <label class="text-green-900 block mb-1">Rg</label>
          <p-inputmask
            formControlName="rg"
            mask="9999999999-9"
            placeholder="0000000000-0"
            styleClass="w-full"
            unmask="true"
          ></p-inputmask>
          @if(showErrors() && form.get('rg')?.hasError('required')) {
            <p-message
              severity="error"
              text="O RG é obrigatório."
              variant="simple"
            ></p-message>
          }
        </div>

        <div>
          <label class="text-green-900 block mb-1">Foto do RG</label>
          <p-fileupload
            mode="basic"
            name="rg"
            chooseIcon="pi pi-upload"
            chooseLabel="Selecionar arquivo"
            auto="true"
            customUpload="true"
            (onSelect)="onRGUpload($event)"
          ></p-fileupload>
          @if(nomeArquivoRG()) {
            <div class="my-1 text-sm text-green-800">
              Arquivo selecionado: <strong>{{ nomeArquivoRG() }}</strong>
            </div>
          }
          @if(showErrors() && form.get('document')?.hasError('required')) {
            <p-message
              severity="error"
              text="A foto do RG é obrigatória."
              variant="simple"
            ></p-message>
          }
        </div>

        <div>
          <label class="text-green-900 block mb-1">Comprovante de residência</label>
          <p-fileupload
            mode="basic"
            name="comprovante"
            chooseIcon="pi pi-upload"
            chooseLabel="Selecionar arquivo"
            auto="true"
            customUpload="true"
            (onSelect)="onComprovanteUpload($event)"
          ></p-fileupload>
          @if(nomeArquivoComprovante()) {
            <div class="my-1 text-sm text-green-800">
              Arquivo selecionado: <strong>{{ nomeArquivoComprovante() }}</strong>
            </div>
          }
          @if(showErrors() && form.get('proofOfAdress')?.hasError('required')) {
            <p-message
              severity="error"
              text="O comprovante de residência é obrigatório."
              variant="simple"
            ></p-message>
          }
        </div>


        <button
          pButton
          type="submit"
          label="Cadastrar"
          class="mt-8! w-full !bg-emerald-800 hover:bg-emerald-900! border-emerald-700! text-white py-2 px-4 rounded-lg"
          [loading]="isLoading()"
        ></button>
      </form>
    </div>
  </div>
</div>

<p-toast />
