@if(isLoading()) {
  <div class="custom-loading">
    <div class="loading-content">
      <img src="/logo.svg" alt="Logo" class="loading-logo" />
      <div class="loading-text">Carregando...</div>
    </div>
  </div>
}

<div class="w-full min-h-full bg-gradient-to-b from-orange-50 to-lime-100">
  <div class="max-w-[1440px]! mx-auto py-8">
    <div class="flex items-center justify-between px-2">
      <img src="logo.svg" alt="" class="h-30 cursor-pointer" (click)="redirectToInitialPage()" />
      <ul class="hidden md:block">
        <li class="text-emerald-900 font-bold cursor-pointer pt-4" (click)="redirectToInitialPage()">Página inicial</li>
      </ul>
      <div class="pt-4 hidden md:block">
        <p-iconfield>
          <input
            type="text"
            pInputText
            placeholder="Pesquisar postagem..."
            class="h-10 w-90 rounded-4xl! p-6! pr-0"
            [value]="searchTerm()"
            (input)="handleSearch($event)"
          />
          <p-inputicon styleClass="pi pi-search pr-4!" />
        </p-iconfield>
      </div>
      <div class="md:hidden relative">
        @if(isMobileMenuOpen()) {
          <i class="pi pi-times text-2xl cursor-pointer pt-4" (click)="toggleMenu()" [style]="{ 'font-size': '1.4rem'}"></i>
        } @else {
          <i class="pi pi-bars text-2xl cursor-pointer pt-4" (click)="toggleMenu()" [style]="{ 'font-size': '1.4rem'}"></i>
        }

        @if(isMobileMenuOpen()) {
          <div class="fixed inset-0 z-40 bg-opacity-10!" (click)="closeMenu()"></div>

          <div
            class="fixed top-35 left-0 right-0 z-50 bg-white shadow-md mx-2 mt-2 rounded-md animate-slide-down"
            (click)="$event.stopPropagation()"
          >
            <ul class="flex flex-col px-6 py-4 space-y-4">
              <li>
                <p-iconfield>
                  <input
                    type="text"
                    pInputText
                    placeholder="Pesquisar postagem..."
                    class="h-10 w-full rounded-4xl! p-6! pr-0"
                    [value]="searchTerm()"
                    (input)="handleSearch($event)"
                  />
                  <p-inputicon styleClass="pi pi-search pr-4!" />
                </p-iconfield>
                <div class="w-full h-[1px] bg-zinc-300 my-5"></div>
              </li>
              <li class="text-emerald-900 sm:text-xl font-bold cursor-pointer" (click)="redirectToInitialPage(); closeMenu()">
                Página inicial
              </li>
            </ul>
          </div>
        }
      </div>
    </div>

    <div class="px-2">
      <div class="w-full h-[1px] bg-zinc-300"></div>
      <div>
        <div class="flex flex-col items-center py-12">
          <h1 class="text-emerald-900 text-center text-4xl">Notícias dos Jovens Empreendedores Digitais</h1>
          <p class="text-zinc-600 text-md mt-2 text-center">
            Aqui você encontra as últimas postagens sobre empreendedorismo digital, dicas de negócios e muito mais!
          </p>
        </div>
        @if(!selectedPost() && !isLoading()) {
          <app-carousel-blog [posts]="carouselPosts()"></app-carousel-blog>
        }
      </div>
      <div class="w-full h-[1px] bg-zinc-300"></div>

      @if(!selectedPost()) {
        <p class="text-emerald-900 text-xl mt-6">Últimas postagens</p>
      } @else {
        <p class="text-emerald-900 hover:text-emerald-950 text-xl mt-6 cursor-pointer underline" (click)="clearPost()">Ver todas as postagens</p>
      }

      <!-- Grid de Cards -->
      @if(!selectedPost()){
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
          @for (card of posts(); track $index) {
            <div class="flex flex-col rounded-2xl h-100" [style]="{ 'background-color': bgColors()[$index] }">
              <div class="w-full h-60 flex items-center justify-center">
                <img [src]="card.imageUrl" alt="" class="h-full w-full object-cover rounded-t-lg" loading="lazy">
              </div>
              <div class="h-40 flex flex-col items-center">
                <h2 class="text-xl text-white text-center font-semibold pt-2 px-1">{{ card.title | truncate:47 }}</h2>
                <button
                  pButton
                  class="w-30 mt-auto mb-4 font-bold uppercase transition-transform duration-300 ease-in-out hover:scale-102"
                  [style]="{
                    'background-color': lightenColor(bgColors()[$index], 35),
                    'color': bgColors()[$index],
                    'border-color': bgColors()[$index]
                  }"
                  (click)="openPost(card.id)"
                >
                  Leia mais
                </button>
              </div>
            </div>
          }
        </div>
      } @else {
        <app-unique-post-blog />
      }

      <!-- Spinner para carregamento adicional -->
      @if(isLoadingMore()) {
        <div class="flex justify-center items-center my-8">
          <i class="pi pi-spinner pi-spin text-emerald-700 text-3xl"></i>
        </div>
      }
    </div>
  </div>
</div>
<app-footer [isBlog]="true" />
