<div *ngFor="let item of items; let i = index" class="accordion-item">
  <button (click)="toggle(i)" class="accordion-header">
    <span *ngIf="!editingIndex || editingIndex !== i" class="text">{{ item.title }}</span>
    <input
      *ngIf="editingIndex === i"
      [(ngModel)]="item.title"
      class="edit-input"
      maxlength="100"
    />
    <img
      src="./seta.svg"
      alt="Seta"
      class="icon"
      [class.rotated]="activeIndex === i"
    />
  </button>

  <div
    #content
    class="accordion-content"
    [style.height]="activeIndex === i ? content.scrollHeight + 'px' : '0px'"
  >
    <div *ngIf="!editingIndex || editingIndex !== i" class="accordion-inner">
      {{ item.content }}
    </div>
    <textarea
      *ngIf="editingIndex === i"
      [(ngModel)]="item.content"
      class="edit-textarea"
      maxlength="500"
    ></textarea>
  </div>

  <div class="edit-actions">
    <button *ngIf="editingIndex !== i" (click)="startEditing(i)">Editar</button>
    <button *ngIf="editingIndex === i" (click)="saveEditing()">Salvar</button>
    <button *ngIf="editingIndex === i" (click)="cancelEditing()">Cancelar</button>
  </div>
</div>