<p-dialog
  header="Adicionar Ciclo"
  [visible]="isVisible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '600px', height: '600px' }"
  (onHide)="onCancelEmitter()"
  >
  <form #f="ngForm" (ngSubmit)="onSubmitEmitter(f)" class="flex flex-col gap-4">

    <!-- Nome -->
    <div class="flex flex-col gap-2">
      <label for="name">Nome do ciclo</label>
      <input
        id="name"
        type="text"
        pInputText
        name="name"
        placeholder="Ex: Ciclo 2024"
        [(ngModel)]="cicle.name"
        required
      />
    </div>

    <div class="flex gap-4">
      <div class="flex flex-col gap-2 w-1/2">
        <label for="startDate">Data de início</label>
        <p-datepicker
          id="startDate"
          name="startDate"
          appendTo="body"
          [(ngModel)]="cicle.startDate"
          dateFormat="dd/mm/yy"
          placeholder="dd/mm/aaaa"
          showIcon="true"
          class="!w-full !block"
          [tabIndex]="0"
          (onInput)="onDateInput($event, 'startDate')"
          required
        ></p-datepicker>
      </div>

      <!-- Data de fim -->
      <div class="flex flex-col gap-2 w-1/2">
        <label for="endDate">Data de fim</label>
        <p-datepicker
          id="endDate"
          name="endDate"
          appendTo="body"
          [(ngModel)]="cicle.endDate"
          dateFormat="dd/mm/yy"
          placeholder="dd/mm/aaaa"
          showIcon="true"
          class="!w-full !block"
          (onInput)="onDateInput($event, 'endDate')"
          required
        ></p-datepicker>
      </div>
    </div>

    <!-- Municípios -->
    <div class="flex flex-col gap-2">
      <label for="municipalities">Municípios</label>
      <p-multiSelect
        id="municipalities"
        name="municipalities"
        [options]="municipalitiesOptions"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="cicle.municipalities"
        placeholder="Selecione"
        appendTo="body"
        [selectedItemsLabel]="(cicle.municipalities?.length || 0) + ' selecionados'"
        display="chip"
      ></p-multiSelect>
    </div>

    <div>
      <label>Municípios selecionados:</label>
      <div>
        @for(municipality of cicle.municipalities || []; track $index) {
          <span class="inline-block bg-emerald-100 text-emerald-700 text-sm font-medium mr-2 px-2.5 py-0.5 rounded">
            {{ municipality }}
          </span>
        }
      </div>
    </div>
  </form>

  <ng-template #footer>
    <button
      pButton
      type="button"
      label="Cancelar"
      class="p-button-text"
      (click)="onCancelEmitter()"
    ></button>
    <button
      pButton
      type="submit"
      label="Salvar"
      [disabled]="!f.form.valid || isLoading"
      (click)="onSubmitEmitter(f)"
    >
      <i
        *ngIf="isLoading"
        class="pi pi-spin pi-spinner"
        style="font-size: 1rem"
      ></i>
    </button>
  </ng-template>
</p-dialog>
