@font-face {
  font-family: 'Anisette';
  src: url('../src/assets/fonts/Anisette/fonnts.com-Anisette_Std_Petite.otf') format('opentype');
}

@font-face {
  font-family: 'Anisette2';
  src: url('../src/assets/fonts/Anisette/anisette-petite-bold.ttf') format('opentype');
}

@font-face {
  font-family: 'sim';
  src: url('../src/assets/fonts/AmstelvarAlpha-VF.ttf') format('opentype');
}
