
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
  }
  
  a {
    text-decoration: none !important;
    color: inherit  !important;
  }
  
  ul, ol {
    list-style: none;
  }