<footer class="mt-12 lg:mt-0 border-t-1  py-10"
  [ngClass]="{'mt-0! bg-gradient-to-b from-orange-50 to-lime-50': isBlog, 'bg-[#fdfcfc] border-[#3B674C]': !isBlog}"
>
  <div class="max-w-7xl mx-auto px-6 md:px-10">
    <div class="mb-6">
      <h3 class="text-[#3B674C] font-bold text-sm tracking-wide uppercase mb-4">Realização</h3>
      <div class="flex flex-wrap justify-center md:justify-start items-center gap-8">
        <img src="ifce-logo.png" alt="Instituto Federal do Ceará" class="h-18 object-contain">
        <img src="mcti-logo.svg" alt="Ministério da Ciência, Tecnologia e Inovação" class="h-18 object-contain">
      </div>
    </div>

    <div class="border-t border-[#CCCCCC] pt-6 flex flex-col md:flex-row items-center justify-between gap-6">
      <div class="text-center md:text-left">
        <h2 class="text-xl font-extrabold text-[#3B674C]">
          DÊ UM PLAY NO SEU FUTURO
        </h2>
        <p class="text-xs text-[#666666]">Transformando potencial em realidade</p>
      </div>

      <div>
        <a href="#" class="text-sm! text-[#3B674C]! hover:text-[#EF8236]! underline! transition! duration-300!">Política de Privacidade</a>
      </div>
    </div>
  </div>
</footer>
